.static {
    overflow: hidden;
}

.jumbotron {
    width: auto;
    height: 800px;
    color: white;
    background: linear-gradient(to bottom right, #01579b, #00acc1);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.table {
    margin-top: 20px;
}
.form-control {
    margin-bottom: 5px;
}
.btn {
    margin-top: 15px;
}
.selecionado {
    background-color: lightblue;
}

.container {
    margin-top: 20px;

}

.tabela {
    height: 300px;
    overflow: auto;
}

.content {
    overflow: auto; 
}
