<div class="container">

        <form name="clienteForm">
            <input class="form-control" type="text" ng-model="cliente.nome" name="nome" placeholder="Nome" ng-required="true" ng-minlength="10"
            />
            <div ng-show="clienteForm.nome.$error.required && clienteForm.nome.$dirty" class="alert alert-danger">Por favor, preencha o nome!</div>
            <div ng-show="clienteForm.nome.$error.minlength" class="alert alert-danger">O campo nome deve ter ao menos 10 caracteres</div>

            <input class="form-control" type="number" ng-model="cliente.idade" name="idade" placeholder="Idade" ng-required="true" />

            <input class="form-control" type="text" ng-model="cliente.endereco" name="endereco" placeholder="Endereço" ng-required="true"
            />
            <div ng-show="clienteForm.telefone.$error.required && clienteForm.telefone.$dirty" class="alert alert-danger">Por favor, preencha o endereço!</div>

            <input class="form-control" type="number" ng-model="cliente.conta" name="conta" placeholder="Número da Conta" ng-required="true"
            />

        </form>

        <p>A função de cadastro de clientes está temporariamente desabilitada por problema de conexão com o banco de dados!</p>

        <button class="btn btn-info btn-block" ng-click="adicionarCliente()" data-ng-disabled="true">Cadastrar Cliente</button>
        <a href="../index.html" class="btn btn-info btn-block">Voltar</a>
</div>