    <div class="container">
        <table class="table table-striped">
            <tr>
                <th>Data</th>
                <th>Cliente</th>
                <th>Transação</th>
                <th>Valor</th>
                <th>Conta</th>
            </tr>
            <tr ng-repeat="transacao in transacoes">
                <td>{{transacao.data}}</td>
                <td>{{transacao.cliente}}</td>
                <td>{{transacao.tipo}}</td>
                <td>R$ {{transacao.valor}},00</td>
                <td>{{transacao.conta}}</td>
            </tr>
        </table>
        <a href="../index.html" class="btn btn-info btn-block">Voltar</a>
    </div>
    <div ng-init="carregarTransacoes()"></div>